<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Photogram{% endblock %}</title>
  </head>
  <body>
    <main>
      <nav>
        {% if user.is_authenticated %}
          <div>
            Welcome, {{ user.username }}!
            |
            <a href="{% url 'edit_profile' %}">
              Edit profile
            </a>
            |
            <a href="{% url 'logout' %}">
              Log Out
            </a>
          </div>
        {% else %}
          <div>
            You are not logged in.
            |
            <a href="{% url 'login' %}">
              Log In
            </a>
            |
            <a href="{% url 'signup' %}">
              Sign Up
            </a>
          </div>
        {% endif %}
        <div>
          <a href="{% url 'photos' %}">
            Photos
          </a>
        </div>
      </nav>

      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
