{% extends "base.html" %}

{% block content %}
<h1>
    {{ user.username }}
</h1>

<h2>Own photos</h2>

<ul>
    {% for photo in user.own_photos.all %}
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body py-3 d-flex align-items-center">
                    <img src="{{ photo.owner.avatar_image }}" class="rounded-circle mr-2" width="36px">
                    <h5 class="card-title">
                        <a class="text-dark" href="{% url 'user_detail' photo.owner.username %}">
                            {{ photo.owner.username }}
                        </a>
                    </h5>
                    {% if photo.owner == request.user %}
                        <a href="{% url 'photo_edit' photo.pk %}">
                            <i class="fas fa-edit fa-fw"></i>
                        </a>
                        <form action="{% url 'photo_delete' photo.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link">
                                <i class="fas fa-trash fa-fw"></i>
                            </button>
                        </form>
                    {% endif %}
                </div>
                <img src="{{ photo.image }}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{ photo.caption }}</p>
                </div>
                {% include "../comments/comment.html" with photo=photo %}
            </div>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock content %}